/* GERAL */
html, body, header, main, footer, article, div, span, p, a, figure, img, small, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
    list-style: none;
}
.container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 20px; 
}
.hidden {
    display: none;
}
.border {
    border-radius: 50%;
}

/* BODY */
body {}

/* HEADER */
header {
    padding-top: 12px;
}
header .container {}
header .linha {
    display: flex;
    justify-content: space-between;
    
}
header .linha__coluna {}
header a{}
header a figure {}
header a figure img {
    width: 115px;
}
header ul {}
header ul li {
    display: inline-block;
}
header ul li a {}
header ul li a img {

}

/* FOOTER */


/* PÁGINA INICIAL */
main {
    overflow-x: hidden;
}
main article {}
main article .container {}
main article .secaoSobreUsuario .linha {}
main article .secaoSobreUsuario .linha__coluna {}
main article .secaoSobreUsuario figure {}
main article .secaoSobreUsuario figure img {
    width: 90px;
}
main article .secaoSobreUsuario .sobreUsuario {}
main article .secaoSobreUsuario .sobreUsuario__nome {
    display: flex;
    align-items: center;
}
main article .secaoSobreUsuario .sobreUsuario__nome h2 {
    color: #000;
    margin: 0;
    font-size: 1.1rem;
    margin-right: 10px;
}
main article .secaoSobreUsuario .sobreUsuario__nome button {
    font-size: 0.7rem;
    padding: 7px 4px;
    background-color: transparent;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    font-weight: 600;

}
main article .secaoSobreUsuario .sobreUsuario__seguidores {
    margin-top: 20px;
}
main article .secaoSobreUsuario .sobreUsuario__seguidores ul {
    display: flex;
    text-align: center;
    justify-content: space-between;
}
main article .secaoSobreUsuario .sobreUsuario__seguidores ul li {}
main article .secaoSobreUsuario .sobreUsuario__seguidores ul li a {
    color: #000;
    font-size: 0.9rem;
}
main article .secaoSobreUsuario .sobreUsuario__seguidores ul li a strong {}
main article .secaoSobreUsuario .sobreUsuario__descricao {
    margin-top: 25px;
}
main article .secaoSobreUsuario .sobreUsuario__descricao h3 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}
#grey {
    color: rgb(107, 107, 107);
}
main article .secaoSobreUsuario .sobreUsuario__descricao p {
    font-size: 0.8rem;
}
main article .secaoSobreUsuario .sobreUsuario__descricao p a {}

main article .secaoDestaquesUsuario {}
main article .secaoDestaquesUsuario ul {
    display: flex;
    margin-top: 25px;
    overflow-x: scroll;
}
main article .secaoDestaquesUsuario ul li {
    text-align: center;
    margin-right: 10px;
}
main article .secaoDestaquesUsuario ul li figure {}
main article .secaoDestaquesUsuario ul li figure img {
    width: 60px;
}
main article .secaoDestaquesUsuario ul li h3 {
    font-size: 0.6rem;
    margin: 0;
}

/* EXTRAS */


/* @media */